<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Heart Failure Prediction</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        html{
            overflow: hidden;
        }

        body{
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #login-form-container{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>	
<body>
    <div id="login-form-container">
        <form action="result" method="GET">
            <div class="card" style="width: 400px">
            <div class="card-content">
                <div class="media">
                <div class="is-size-3 has-text-centered">Heart Failure Prediction</div>
                </div>
                <div class="content">

                <div class="field">
                    <p class="control">
                    Age: <input class="input" type="number" value='0' step='1' name="age" placeholder="Age" id="age">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Ejection Fraction: <input class="input" type="number" value='0.00' step='0.1' name="ejection_fraction" placeholder="Ejection Fraction" id="ejection_fraction">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Serum Creatinine: <input class="input" type="number" value='0.00' step='0.01' name="serum_creatinine" placeholder="Serum Creatinine" id="serum_creatinine">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Serum Sodium: <input class="input" type="number" value='110.00' step='0.1' name="serum_sodium" placeholder="Serum Sodium" id="serum_sodium">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    High Blood Pressure: <input class="input" type="number" value='0' step='1' name="high_blood_pressure" placeholder="High Blood Pressure" id="high_blood_pressure">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Anemia: <input class="input" type="number" value='0' step='1' name="anaemia" placeholder="Anemia" id="anaemia">
                    </p>
                </div>
                
                <div class="field">
                    <button class="button is-fullwidth is-rounded is-success">Submit</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>